.header{
    z-index: 100;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    background-image: linear-gradient(to top, #000000, #1b0a0b, #2b110e, #3a160a, #461f01);
    /*background-image: linear-gradient(to top, #222726, #1f3327, #2c3c1c, #46420b, #694102);*/
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
}
.header__logo{
    width: 80px;
}
.icontext{
    display:inline-block;
}
.header__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__buttons img{
    height: 50px;
}
.header__button{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    transition: all .3s;
    cursor: pointer;
}

.header__button:first-of-type{
    margin-right: 25px;
}
.header__button:hover{
    color: #d41d46
}
.header__button-text{
    padding-left: 5px;
    font-size: 14px;
}
